.row {
    height: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
    padding-left: 10px;
}

.row-element {
    max-width: 200px;
    padding: 0;
    margin: 0;
    display: inline;
}

.list {
    margin-top: 20px;
}

#grey {
    background-color: rgb(187, 187, 187);
}

#white {
    background-color: white;
}