.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 40px;
    border: red solid 2px;
}

.row-element {
    display: inline;
}

.list {
    width: 100%;
    height: fit-content;
}

#grey {
    background-color: rgb(187, 187, 187);
}

#white {
    background-color: white;
}

#leader-position {
    grid-area: 1 / 1 / 2 / 2;
}

#row-user {
    grid-area: 1 / 2 / 2 / 3;
}

#row-element {
    grid-area: 1 / 3 / 2 / 4;
}