.row {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid grey;
    justify-content: space-evenly;
}

.row-element {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leader-position {
    width: 33.33%;
}

#row-user {
    width: 33.33%;
}

#row-points {
    width: 33.33%;
}

.list {
    margin-top: 40px;
    width: 800px;
    transform: translateX(50%);
}

#white {
    background-color: white;
}

#grey {
    background-color: rgb(202, 202, 202);
}